@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");

body {
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: #EEEEEE;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

section,
header,
footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding-top: 100px;
}

.dark {
    background-color: #393E46;
}

.black {
    background-color: #222831;
}

.dblue {
    background-color: #00ADB5;
}

.curvegr {
    position: absolute;
    height: 250px;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.curvegr::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    transform: translate(85%, 60%);
    background-color: #393E46;
}

.curvegr::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: #222831;
    transform: translate(-4%, 40%);
    z-index: -1;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.bubble::after {
    content: '';
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    position: absolute;
    bottom: 0;
    height: 85%;
    width: 100%;
    background-color: #222831;
    z-index: -1;
}

header .text {
    position: relative;
}

#cursor {
    animation: blink 0.7s infinite;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.typewriter {
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #EEE;
}

.text.sec-text:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #222831;
    border-left: 2px solid #EEEEEE;
    animation: animate 4s steps(24) infinite;
}

.sec-text {
    width: 100px;
    overflow: hidden;
}

@keyframes animate {

    40%,
    60% {
        left: calc(100% + 4px);
    }

    100% {
        left: 0;
    }

}

.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
}

.wave .shape-fill {
    fill: #00ADB5;
}

.custom-shape-divider-bottom-1699108335 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1699108335 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1699108335 .shape-fill {
    fill: #00ADB5;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px 0;
}

.project {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 50px 0;
    text-decoration: none;
    color: #EEEEEE;
}

.project:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

.project .project-img {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-bottom: 20px;
}

.project .project-img img {
    width: 50%;
    /* height: 520px; */

    object-fit: cover;
    border-radius: 10px;
}

.project .project-text .extras {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.project .project-text div a img {
    width: 100%;
    object-fit: cover;
}

.project .project-text div a {
    display: inline-block;
    width: 15%;
    padding-right: 10px;
}

.project .project-text div .tag {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    border: 2px solid #00ADB5;
    color: #EEEEEE;
    font-size: 0.8rem;
    text-decoration: none;

}

#posts {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 50px 0;
}

#posts .column {
    display: flex;
    flex-direction: row;
    width: 80%;
    padding: 0 4px;
}

#posts .column .card {
    display: inline-block;
    width: 45%;
    margin: 2.5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#posts .column .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

#posts .column .card img {
    border-radius: 5px 5px 0 0;
    width: 100%;
}

#posts .column .card h1 {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 10px;
}

#posts .column .card p {
    font-size: 1rem;
    font-weight: 400;
    margin: 10px;
}

#posts .column .card a {
    font-size: 1rem;
    font-weight: 400;
    margin: 10px;
    text-decoration: none;
    color: #00ADB5;
}